= form_for @task, html: { class: "form form-horizontal task" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@task[:name])
  .form-group
    = f.label :deadline, class: 'control-label'
    .controls
      = f.text_field :deadline, class: 'form-control', required: true
    = error_span(@task[:deadline])
  .form-group
    = f.label :done, class: 'control-label'
    .controls
      = f.check_box :done, class: 'form-control', required: true
    = error_span(@task[:done])
  .form-group
    = f.label :project_id, class: 'control-label'
    .controls
      = f.collection_select :project_id, Project.all, :id, :name
    = error_span(@task[:project_id])


  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), tasks_path, :class => 'btn btn-default'
