= form_for @project, html: { class: "form form-horizontal project" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@project[:name])
  .form-group
    = f.label :deadline, class: 'control-label'
    .controls
      = f.text_field :deadline, class: 'form-control'
    = error_span(@project[:deadline])
  .form-group
    = f.label :project_category_id, class: 'control-label'
    .controls
      = f.collection_select :project_category_id, ProjectCategory.all, :id, :name, {:include_blank => "No value", :required => true}
    = error_span(@project[:project_category_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), projects_path, :class => 'btn btn-default'