- model_class = ::Context
.page-header
  %h1
    .context-title{style: "background-color: #{@context.color}"}
      %span{class: "glyphicon glyphicon-#{@context.icon}"}
      = @context.name

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @context.name

%p
  %strong= model_class.human_attribute_name(:color) + ':'
  %br
  = @context.color

%p
  %strong= model_class.human_attribute_name(:icon) + ':'
  %br
  = @context.icon

-### render tasks:
- sub_model_class = Task

.panel.panel-default
  .panel-heading
    %h3.panel-title=t '.title', :default => sub_model_class.model_name.human.pluralize.titleize
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th= sub_model_class.human_attribute_name(:id)
          %th= sub_model_class.human_attribute_name(:name)
          %th= sub_model_class.human_attribute_name(:deadline)
          %th= sub_model_class.human_attribute_name(:project)
          %th= sub_model_class.human_attribute_name(:done)
          %th= sub_model_class.human_attribute_name(:time_needed)
          %th= sub_model_class.human_attribute_name(:postponed_to)
          %th= sub_model_class.human_attribute_name(:created_at)
          %th=t '.actions', :default => t("helpers.actions")
      %tbody
        - @context.tasks.each do |task|
          %tr
            %td= link_to task.id, task_path(task)
            %td= link_to task.name, task_path(task)
            %td= task.deadline
            %td= link_to(task.project.name, project_path(task.project)) if task.project.nil? == false
            %td= task.done
            %td= task.time_needed
            %td= task.postponed_to.datetime_without_seconds if task.postponed_to.nil? == false
            %td= task.created_at.datetime_without_seconds
            %td
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_task_path(task), :class => 'btn btn-default btn-xs'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), task_path(task), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

    = link_to t('.new', :default => t("helpers.links.new")), new_task_path, :class => 'btn btn-primary'


= link_to t('.back', :default => t("helpers.links.back")), contexts_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_context_path(@context), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), context_path(@context), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
