%html
  %head
    = stylesheet_link_tag    :application, :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :application, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default{role: 'navigation'}
        .container-fluid
          -#// Brand and toggle get grouped for better mobile display
          %div.navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'PlaDone', root_url, class: 'navbar-brand'

          -#// Collect the nav links, forms, and other content for toggling
          %div.collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav
              %li
                = link_to 'Tasks', tasks_path
              %li
                = link_to 'Contexts', contexts_path
              %li
                = link_to 'Projects', projects_path
              %li
                = link_to 'Project Categories', project_categories_path

            -# Temporary, until embedded login form is not finished
            .nav.navbar-nav.navbar-right
              -if user_signed_in?
                .navbar-text= current_user.email
                = link_to 'Log out', destroy_user_session_path, :method => :delete, class: "btn btn-default navbar-btn"
              -else
                = link_to 'Log in', new_user_session_path, class: "btn btn-default navbar-btn"


              -# spike: We will add login form here in a future:
              -#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-group
                  = f.label :email
                  = f.text_field :email, class: 'form-control', required: true, placeholder: "Email"
                  = error_span(@task[:name])
                .form-group
                  = f.label :password
                  = f.text_field :password, class: 'form-control', required: true, placeholder: "Password", autocomplete: "off"
                  = error_span(@task[:name])
                .form-group
                  -if devise_mapping.rememberable?
                    .form-group
                      = f.check_box :remember_me
                      = f.label :remember_me
                = f.submit "Log in", class: "btn btn-default"

      -if notice
        %p.alert.alert-success= notice
      -if alert
        %p.alert.alert-info= alert

      = yield
