%html
  %head
    = stylesheet_link_tag    :application, :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :application, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default{role: 'navigation'}
        -#// Brand and toggle get grouped for better mobile display
        %div.navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'PlaDone', root_url, class: 'navbar-brand'

        -#// Collect the nav links, forms, and other content for toggling
        %div.collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Tasks', tasks_path
            %li
              = link_to 'Contexts', contexts_path
            %li
              = link_to 'Projects', projects_path
            %li
              = link_to 'Project Categories', project_categories_path



      = yield
